.menu{
    display: flex;
    margin: 0;
    align-self: center;
}

.menuItem{
    padding-left: 15px;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
}

.menuItem a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.menuItem a:hover{
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 0, 0, .9);
}
