.title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 20px;
}

.imageWrapper {
    position: relative;
}

.imageWrapper:hover .buttonLink {
    opacity: 1;
}

.buttonLink {
    position: absolute;
    padding: 10px 40px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 0, 0, .5);
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.bannerImg {
    display: block;
    width: 100%;
}

.linksWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style-type: none;
}

.ceil {
    width: 100%;
    margin: 0 0 4px 0;
    box-sizing: border-box;
    position: relative;
}

.ceil img {
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
}

.ceil:hover > .link {
    opacity: 1;
}

.link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 250ms ease-in;
    display: block;
    background-color: rgba(255, 0, 0, .5);
    z-index: 5;
}

.link::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 30px;
    background-image: url('../../icons/watch.png');
}

.popupWindow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
    transform: translateX(100%);
    transition: all 250ms linear;
}

.active {
    transform: translateX(0);
}

.contentWrapper {
    padding-bottom: 25%;
    max-width: 1150px;
}

.contentWrapper > img,
.contentWrapper > iframe {
    display: block;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;

}

.text{
    text-align: justify;
}

@media only screen and (min-width: 1024px) {
    .textWrapper {
        padding: 20px 0;
    }

    .ceil {
        width: calc((100% - 12px) / 4);
    }

    .ceil:not(:nth-child(4n+1)) {
        margin-left: 4px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .ceil {
        width: calc((100% - 8px) / 3);
    }

    .ceil:not(:nth-child(3n+1)) {
        margin-left: 4px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .ceil {
        width: calc((100% - 4px) / 2);
    }

    .ceil:not(:nth-child(2n+1)) {
        margin-left: 4px;
    }
}
