.footer {
    min-height: 50px;
    background: #333333;
    color: #ffffff;
    position: relative;
    padding: 40px 0;
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.footerColumn {
    width: max-content;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.footerColumn:first-child {
    padding-left: 0;
}

.footerColumn:last-child {
    padding-right: 0;
    width: 25%;
}

.copyrightTitle {
    margin: 0 0 15px;
    font-size: 16px;
}

.copyright {
    font-size: 12px;
    margin: 0;
}

.email {
    color: #ffffff;
}

.email:hover {
    color: rgba(255, 0, 0, .9);
}

.socialLinkWrapper {
    padding-left: 35px;
    position: relative;
    margin-bottom: 5px;
}

.socialLinkWrapper::before {
    display: block;
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    bottom: 1px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.socialLinkWrapper:first-child::before {
    background-image: url("../../icons/footer-social-icons/facebook.png");
}

.socialLinkWrapper:nth-child(2)::before {
    background-image: url("../../icons/footer-social-icons/twitter.png");
}

.socialLinkWrapper:nth-child(3)::before {
    background-image: url("../../icons/footer-social-icons/instagram.png");
}

.socialLinkWrapper:nth-child(4)::before {
    background-image: url("../../icons/footer-social-icons/pinterest.png");
}

.socialLink {
    color: #ffffff;
    text-decoration: none;
}

.socialLink:hover {
    color: rgba(255, 0, 0, .9);
}

.footerForm {
    display: block;
    width: 100%;
}

.inputSubscribe {
    display: block;
    width: 100%;
    margin: 10px 0 15px;
    font-size: 16px;
    line-height: 25px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.inputSubscribe.error {
    outline: red;
}

.buttonSubscribe {
    padding: 10px 40px;
    background: rgba(255, 0, 0, .5);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: block;
    margin-left: auto;
}

.buttonSubscribe:focus{
    outline: none;
}

.errorMessage {
    color: red;
}

@media only screen and (min-width: 1200px) {
    .footer::before,
    .footer::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 9999px;
        box-sizing: border-box;
        background: #333333;
    }

    .footer::before {
        right: 100%;
    }

    .footer::after {
        left: 100%
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .footerWrapper {
        flex-wrap: wrap;
    }

    .footerColumn,
    .footerColumn:last-child {
        width: 50%;
        box-sizing: border-box;
    }

    .footerColumn:nth-child(3) {
        padding-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .footerWrapper {
        flex-wrap: wrap;
    }
    .footerColumn:not(:first-child){
        border-top: 1px solid #f5f5f5;
        padding-top: 20px;
    }
    .footerColumn,
    .footerColumn:last-child {
        width: 100%;
    }
}
