.bannerWrapper {
    width: 100%;
}

.bannerWrapper > img {
    display: block;
    width: 100%;
}

.sliderWrapper {
    background: #333333;
}

.sliderItem {
    color: white;
    text-align: center;
    padding: 40px 5px;
    background: rgba(255, 0, 0, .7);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.sliderItem:focus {
    outline: none;
}

.sliderItem img {
    display: block;
    width: 40px;
    height: 40px;
    align-self: center;
}

.textWrapper {
    max-width: calc(100% - 40px);
    padding-left: 25px;
    box-sizing: border-box;
    font-size: 13px;
    text-transform: uppercase;
}

.textWrapper > p {
    margin: 0;
}

.aboutTextWrapper {
    padding: 0 0 40px;
}

.aboutTextWrapper > div {
    background: #f5f5f5;
}

.title {
    text-align: center;
    margin-bottom: 35px;
}

.textTitle {
    text-align: center;
}

.imageWrapper > img {
    display: block;
    width: 100%;
}

.textWrapperAbout {
    padding: 5px 5%;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
}

.needProjectWrapper {
    text-align: center;
    padding: 10px 10px 40px;
}

.needProjectWrapper > p {
    max-width: 540px;
    margin: 0 auto 30px;
}

.buttonWrap {
    background: #333333;
    border-radius: 5px;
    display: inline-block;
}

.button {
    padding: 10px 40px;
    background: rgba(255, 0, 0, .5);
    color: #ffffff;
    border-radius: 5px;
    display: block;
    border: none;
}

.button:focus {
    outline: none;
}

.form{
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
}

@media only screen and (min-width: 768px) {
    .aboutTextWrapper > div {
        display: flex;
    }

    .imageWrapper {
        width: 60%;
    }

    .textWrapperAbout {
        width: 40%;
    }
}
