.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContent{
    width: 100%;
    padding: 0 15px 15px;
    box-sizing: border-box;
    flex-grow: 1;
}
