.contactsWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.info,
.contactsWrapper > form {
    width: calc((100% - 25px) / 2);
}

.info {
    margin-right: 25px;
}

.contactTitle{
    text-transform: uppercase;
}

.contactsWrapper > form {
    padding: 8px 0 20px;
}

.contactsWrapper > form > span {
    margin: 0;
}
.mapWrapper{
    padding: 20px 0;
}
.map{
    width: 100%;
    min-height: 400px;
}

@media only screen and (min-width: 767px) {

}
